audio {
	width: 74%;
}

#message_form {
	display: none;
}

#button-container {	
	width: 60%;
	margin: 0 auto;
	float: none;
}

td {
	width: 25%;
}

.headline, #nickname_form, #users {
	text-align: center;
}

table {
	width: 100%;
	table-layout: fixed;
}

#nickname_submit {
	margin: 7px;
}

