audio {
	width: 74%;
}

#message_form {
	display: none;
}

#button-container {	
	width: 60%;
	margin: 0 auto;
	float: none;
}

td {
	width: 25%;
}

.headline, #nickname_form, #users {
	text-align: center;
}

table {
	width: 100%;
	table-layout: fixed;
}

#nickname_submit {
	margin: 7px;
}

#users > p {
	display: inline;
}

#audioplayer{
  width: 30px;
  height: 30px;
  margin: 50px auto auto auto;
}

#pButton{
  height:25px;
  width: 25px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  outline:none;
}

.play{
  background: url('http://www.alexkatz.me/codepen/images/play.png');
}

.pause{
  background: url('http://www.alexkatz.me/codepen/images/pause.png');
}

#welcome_h1 {
	text-align: center;
}

#uploadForm {
	margin-top: 30px;
}

#pictureDiv {
	text-align: center;
}

#picture_select {
}

#picture_select_label {
	
}
#picture_select_submit {
	margin: 0 auto;
	display: block;
}

.table>thead>tr>th {
	border-bottom: none;
}