/*edit css Isaacc*/

#message_form {
	display: none;
}

#button-container {
	width: 60%;
	margin: 0 auto;
	float: none;
}

td {
	width: 25%;
}

.headline, #nickname_form, #users {
	text-align: center;
}

/*ex*/
