/*html {
	height: 100%;
	margin: 0;
	padding: 0;
}*/

body { 
  background: url(/images/bg5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
	margin: 0;
	padding: 0;
}

/*#wrapper {
	width: 100%;
}*/

@keyframes growShake {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

/*current track pulsing animation*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#mic {
	position: relative;
	top: -65px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid #aaa;
	/*animation: growShake 1s infinite;*/
}

#main {
	margin-top: 60px;
	text-align: center;
	border: 1px solid #bbb;
	padding: 18px;
	background-color: #fff4f4;
	border-radius: 5%;
}

#bottom_section {
	position: fixed;
  width: 100%;
  left: 0;
  height: 100%
}

td {
	width: 33.333%;
}

hr {
	border-top: 1px solid #bdbdbd;
}

#users > p {
	display: inline;
}

#dz-root {
	display: none;
}

#currentTrack {
	/*animation: pulse 1s infinite;*/
}

.album_art > img {
  /*border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;*/
  border: 10px solid #8A0707;
}

.table>thead>tr>th {
	border-bottom: 2px solid #ededed;
}

/*
img {
  width: 150px;
  height: auto;
}*/
