h1, h2, h3, h4, h5, h6, p, button, li {
  font-family: 'Lato', sans-serif;
}

li {
  font-size: 1.2em;
  margin: 0;
}

li h6 {
  margin: 0;
  font-size: 0.8em;
}

p {
  font-size: 1em;
}

.one_one_em {
  font-size: 105%;
}

/*html {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

body { 
  background: url(/images/setupPhoto-1473793232871.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}
/*#wrapper {
  width: 100%;
}*/
@keyframes growShake {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
/*current track pulsing animation*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
#mic {
  position: relative;
  top: -65px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #aaa;
  /*animation: growShake 1s infinite;*/
}
#main {
  margin-top: 60px;
  text-align: center;
  border: 1px solid #bbb;
  padding: 18px;
  background-color: #f0f1ff;
  border-radius: 5%;
}
#bottom_section {
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%
}
td {
  width: 33.333%;
}
hr {
  border-top: 1px solid #bdbdbd;
}
#users > p {
  display: inline;
}
#dz-root {
  display: none;
}
#currentTrack {
  /*animation: pulse 1s infinite;*/
}
.album_art > img {
  /*border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;*/
  margin-top: -50px;
  border: 10px solid #1abc9c;
  /*height: 200px;*/
  /*8A0707*/
}
.table>thead>tr>th {
  border-bottom: 2px solid #ededed;
}
#mainPlaylist {
  /*display: block;*/
  max-height: 400px;
  overflow-y: hidden;
}
.track_info_main {
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
.tr_votes_main > img {
  width: 20%;
  vertical-align: middle;
  text-align: center;
}
.track_image_main {
  width: 30%;
  vertical-align: middle;
  text-align: center;
}
.track_image_main > img {
  height: 70px;
  width: 70px;
}
.tr_title_main {
  overflow: hidden;
}
.label_main {
  border-radius: 100%;
  font-size: 20px;
  background-color: #1abc9c;
}
.table>tbody>tr>td {
  height: 75px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  text-align: center;
}
tr {
  width: 100%;
}
#mainPlaylist>tr>th {
  display: none;
}
/*
img {
  width: 150px;
  height: auto;
}*/

.current_track_div {
  margin: 20px;  
}