html {
  height: 100%;

}

body { 
  background: url(images/bg5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h4 {
	color: #737373;
}

#main {
	margin: 75px auto;
	text-align: center;
	width: 40%;
	border: 1px solid #bbb;
	padding: 18px;
	background-color: white;
	border-radius: 14px;
}

.pictureDiv {
	text-align: center;
}

.camera_icon {
	margin: 15px;
	height: 70px;
	width: 70px;
}

.picture_select_submit {
	margin: 0 auto;
	display: block;
	border: none;
	padding: 12px;
	width: 120px;
	border-radius: 3px;
	color: white;
	background-color: #1abc9c;
}

.custom_logo_text {
	margin-top: 25px;
}
  
.message {
  color: grey;
  font-weight: 600;
	margin-top: 16px;
}
